# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../april_chat\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\java\april_chat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
